
.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto;
  
    img {
    height: 30%;
    text-align: center;
    width: 30%;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto;
  
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  
    background: rgba(114, 186, 94, 0.05);
    border: 2px dashed rgba(114, 186, 94, 0.35);
  }
  
  .item {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: rgba(255, 213, 70, 0.4);
    border: 2px dashed rgba(236, 198, 48, 0.5);
  }


  
